body {
  display: flex;
  justify-content: center;
  font-family: monospace, sans-serif !important;
  letter-spacing: -0.05ch;

  max-width: 840px !important;
  margin: 0 auto !important;
}

main {
  width: 100%;
}

/* Table formatting */
table td {
  padding: 0.3rem 0.6rem;
}

/* Register data format (monospace) */
td:last-child {
  font-variant-numeric: tabular-nums;
  font-family: monospace;
}

/* Fake tailwind aaaa */
.grid {
  display: grid;
}
.grid-cols-2 {
  grid-template-columns: 1fr 1fr;
}
.grid-cols-3 {
  grid-template-columns: 1fr 1fr 1fr;
}
.gap-4 {
  gap: 1rem;
}

.w-full {
  width: 100%;
}

/* Canvas displays */
canvas {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  background-color: #00000010;
}

/* Logs */
textarea#logs {
  text-wrap: nowrap;
}
