body {
  display: flex;
  justify-content: center;
  font-family: monospace, sans-serif !important;

  background-color: white;
  color: black;
}

a {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

button {
  @apply px-3 py-0.5 border;
  padding: 0.125rem 0.75rem;
  border: 1px solid #000000;
}
button:disabled {
  opacity: 0.5;
}
button:hover:enabled {
  cursor: pointer;
  background-color: #00000040;
  color: black;
}
button:active:enabled {
  background-color: #000000;
  color: white;
}

/* Canvas displays */
/* Make them pixelated */
canvas {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  background-color: #00000010;
  border: 1px solid #00000040;
}

/* Logs */
textarea#logs {
  text-wrap: nowrap;
}
