body {
  display: flex;
  justify-content: center;
  font-family: monospace, sans-serif !important;

  background-color: black;
  color: white;
}

a {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

/* Canvas displays */
/* Make them pixelated */
canvas {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  background-color: #ffffff10;
  border: 1px solid #ffffff40;
}

/* Logs */
textarea#logs {
  text-wrap: nowrap;
}
